.body{
    background-color: black;
}

/* Ajustes da navbar */
.navbar {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* Centralizar os links (HOME, QUEM SOMOS, SOLU��ES, PLANOS) */
.navbar-nav.mx-auto {
    justify-content: center;
    width: 50%;
}

/* Links da navbar menores e mais finos */
.navbar-nav .nav-link {
    font-size: 0.75rem;
    font-weight: 100;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #fff600 !important;
}

/* Bot�es LOGIN e SUPORTE */
.btn-outline {
    border-color: #fff600 !important;
    color: #fff !important;
    font-size: 0.65rem;
    font-weight: 300 !important;
    padding: 0.50rem 0.5rem; /* menor altura */
}

.btn-outline:hover {
    background-color: #fff600 !important;
    color: black !important;
}
