@{
    Layout = "_Layout";
    ViewData["Title"] = "Agile - Início";
}

<div class="container pt-3 pb-5">
    <div class="row mb-4">
        <div class="col-12 text-end">
            <p class="slogan_maior lead text-white mt-0 slogan-direita">
                Transformando dados em agilidade.
            </p>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mt-0">
        <div class="col-12 col-md-5 text-center">
            <img src="~/logo/Card_INDEX_AGILE.png" class="img-fluid custom-img-position"
                 style="max-width: height: auto;" alt="Descrição da imagem">
        </div>
        <div class="col-12 col-md-5">
            <p class="card-text text-white">
                Adicione um texto descritivo aqui. Este espaço é perfeito para destacar informações importantes ou dar contexto à sua imagem.
                Adicione um texto descritivo aqui. Este espaço é perfeito para destacar informações importantes ou dar contexto à sua imagem.
            </p>
        </div>
    </div>

    <div class="text-center my-4">
        <img src="~/logo/ㅤ/default_transparent_765x625.png"
             alt="Logo"
             class="img-fluid"
             style="max-width: 280px; height: auto;">
    </div>
</div>

<style>
    /* -------------------------------------- */
    /* ESTILOS PARA TODAS AS TELAS (DESKTOP E MOBILE) */
    /* -------------------------------------- */
    .card-text{
        margin-top: -305px; /* aproxima o texto da logo */
    }
    .slogan_maior {
        font-size: 2.5rem;
    }

    .slogan-direita {
        position: relative;
        right: 25px;
    }

    .hover-shadow:hover {
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
        transform: translateY(-5px);
        transition: all 0.3s ease;
    }

    .card-img-pequena {
        height: auto;
        margin: auto;
        display: block;
    }

    .custom-img-position {
        position: relative;
        top: -130px;
        left: -135px;
    }

    /* -------------------------------------- */
    /* ESTILOS ESPECÍFICOS PARA TELAS MOBILE */
    /* -------------------------------------- */
    @@media (max-width: 768px) {
        .slogan-direita {
            right: 0;
            text-align: center;
        }

        .custom-img-position {
            top: 0;
            left: 0;
        }
    }
</style>